---
title: Their Royal Highnesses, the Heirs of Drachenwald
gallery:
  - image_path: 
    title: 
  - image_path: 
    title: 
---
<p align="center">
    <a href="{{ site.baseurl }}{% link royals/index.html %}" class="btn btn--primary">King & Queen</a>
    <a href="#" class="btn btn--inverse">The Heirs</a>
    <a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
	<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<h2 style="text-align: center;"><a name="heirs"></a>Their Royal Highnesses<br/>The Heirs of Drachenwald</h2>

<div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
    {% include gallery %}
</div>


<table>
<tr>
<td align="center">
	<b>Morales Galen</b> (He/Him or They/Them)
	<div style="text-align: center;"><a href="mailto:crownprince@drachenwald.sca.org">crownprince@drachenwald.sca.org</a> <br/> Please contact the crown prince directly</div>
</td>
<td align="center"> <b>Eila de Valois</b> (She/Her or They/Them)
	<div style="text-align: center;"><a href="mailto:crownprincess@drachenwald.sca.org">crownprincess@drachenwald.sca.org</a><br/> Please contact the crown princess directly</div>
</tr>

<tr>
  <td><b>About the prince </b><br>
The crown prince can be seen wearing either rus viking, 16th century or 15th century garb. He is usually up late at events and can most days be found around the heavy fighting field (although he enjoys all aspects of events). He also likes entertaining a crowd and putting on a show.  
  </td>
  
  <td valign="top"><b>About the princess</b><br>
Her royal highness enjoys travels far and wide, to distant shores and bygone times, preferably on horseback. She has a fondness for all things created by ones hand and is known to wield not only needles and sharp wits, but a sword or two or a spear in battle.   
     </td>
</tr>

<tr>
  <td><b>His Highness is interested in:</b><br>Heavy Fighting, singing, brewing, heraldic displays and Armor

  </td>
  
  <td><b>Her Highness is interested in:</b><br>Equestrian Arts, Heavy fighting, archery, singing and sewing, to name a few.

  </td>
</tr>

<tr>
  <td><b>His Highness likes:</b><br>Heavy fighting, Feast, Fire, Performance arts, Seeing people happy. 

  </td>
  
  <td><b>Her Highness likes:</b><br>Red wine, banquets, singing and dancing. Inclusive and respectful manners. And cool swords. Olives!

  </td>
</tr>

<tr>
  <td><b>His Highness dislikes:</b><br>Modern mundane visable items at events

  </td>
  
  <td><b>Her Highness dislikes:</b><br>Visable modern/mundane items at events, 

  </td>
</tr>

<tr>
  <td><b>Please feed His Highness:</b><br>

  </td>
  
  <td><b>Please feed Her Highness:</b><br>

  </td>
</tr>

<tr>
  <td><b>Please do not feed His Highness:</b><br>Coriander

  </td>
  
  <td><b>Please do not feed Her Highness:</b><br>Animal parts or overly sugary and sweet things

  </td>
</tr>

<tr>
  <td><b>His Highness has the following food restrictions:</b><br>None

  </td>
  <td><b>Her Highness has the following food restrictions:</b><br>Vegetarian and Milk protein free
 
  </td>
</tr>

<tr>
  <td><b>His Highness would like events to feature:</b><br>

  </td>
  
  <td><b>Her Highness would like events to feature:</b><br>

   </td>
</tr>

</table>
