---
title: Events in Drachenwald
calendarlist: true
---
<table>

  <caption><h3>Bid List</h3></caption>
  
  <thead>
    <tr>
      <th scope="col"><strong><h3>Date</h3></strong></th>
      <th scope="col"><strong><h3>Region</h3></strong></th>
      <th scope="col"><strong><h3>Event</h3></strong></th>
      <th scope="col"><strong><h3>Host</h3></strong></th>
      <th scope="col"><strong><h3>Bids</h3></strong></th>
    </tr>
  </thead>

  <tbody id="bidlist">
  
    <tr><td colspan="5"><i>Bid list is loading...<br>(Internet Explorer is not supported)</i></td></tr>
  
  </tbody>

</table>

<div style="text-align: center">
  <a href="{{ site.baseurl }}{% link events/calendar.html %}" class="btn btn--primary">View the calendar</a>
</div>
